<h3 class="col-sm-9 col-sm-offset-2">
  Post something on your wall
</h3>
<form class="col-sm-8 col-sm-offset-2">
  <textarea name="post-content" [(ngModel)]="postContent" cols="15" rows="5" placeholder="Write something..." class="form-control">
  </textarea>
  <button class="btn btn-success" (click)="createPost()">Greate</button>
</form>

<ul class="posts col-sm-11 col-sm-offset-1 list-group">
  <li *ngFor="let post of posts" class="col-sm-9 col-sm-offset-1 list-group-item post">
    <div class="list-group-item-heading">
      <h4 class="col-sm-offset-2">
        <a href="">{{post?.author}}</a>
        <span *ngIf="post?.targetUser">
          to
          <a href="">{{post?.targetUser}}</a>
        </span>
      </h4>
    </div>
    <div class="image-container">
      <img src={{post?.image}} alt="image" class="col-sm-2" width="60" height="80">
    </div>
    <div class="list-group-item-text">
      <p>{{post?.content}}</p>
      <p class="bottom-align-text text-right">Posted on: {{post?.postDate}}</p>
    </div>
  </li>
</ul>