<form class="form-group col-sm-9">
  <label for="searched-username">Enter username</label>
  <input type="text" #search class="form-control" (keyup)="searchPeople(search.value)">
</form>

<h3 class="col-sm-12">Results:</h3>
<ul class="results col-sm-10 list-group">
  <li *ngFor="let user of users" class="list-group-item col-sm-6">
    <div class="user">
      <img src="{{user?.profileImage}}" alt="image" class="col-sm-3">
      <div class="col-sm-9">
        <h4> Username: <a routerLink="/users/{{user?.username}}">{{user?.username}}</a></h4>
        <h4> Name: {{user?.fullname}}</h4>
      </div>
    </div>
  </li>
</ul>